body{
    background-color: orange;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.controls {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    margin-left: 15%;
    margin-top: 15%;

  }

.reset{
    margin: 0;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slider{
    margin-left: 20px;
    margin-top: 80px;
    right: 0;
    display:block;
}

.display{
    color: red;
    margin-top: 50px;
    text-align: center;
    font-family:'Yanone Kaffeesatz', sans-serif;
}

.colors{
    background-color: white;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    margin-top: 15%;
    margin-left: 75%;

}

.black, .rainbow, .choose{
    display: block;
    margin-left: 30px;

}

.black{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.rainbow{
    margin-bottom: 10px;
    background: linear-gradient(blue,red);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.choose{
    background-color: white;
    border: none;
    border: 1px solid black;
    color: black;
    text-align: center;
    font-size: 10px;
    cursor: pointer;

}
